---
Title: Cake.Email
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        Cake.Email is an Addin for <a href="http://cakebuild.net/">Cake</a> which allows sending of email through standard SMTP Server.
    </p>
</div>